<form class="row g-3" (ngSubmit)="guardar( form )" #form="ngForm">
  <div class="input">
      <div class="col-auto">
          <input [(ngModel)]="producto.nombre" name="nombre" type="text" placeholder="Nombre" class="rk-search-field border">
          <input [(ngModel)]="producto.imagen" name="imagen" type="text" placeholder="Imagen" class="rk-search-field border">
          <input [(ngModel)]="producto.unidad" name="unidad" type="text" placeholder="Unidad" class="rk-search-field border">
          <input [(ngModel)]="producto.cantidad" name="cantidad" type="text" placeholder="Cantidad" class="rk-search-field border">
      </div>

      <div class="col-auto">
        <input [(ngModel)]="producto.cant_max" name="cant_max" type="text" placeholder="Cantidad máxima" class="rk-search-field border">
        <input [(ngModel)]="producto.cant_min" name="cant_min" type="text" placeholder="Cantidad mínima" class="rk-search-field border">
        <input [(ngModel)]="producto.precio" name="precio" type="text" placeholder="Precio" class="rk-search-field border">
        <input [(ngModel)]="producto.codigo" name="codigo" type="text" placeholder="Código" class="rk-search-field border">

     </div>

     <div class="col-auto">
      <select [(ngModel)]="producto.categoria_id" name="categoria_id" placeholder="Categoría" class="rk-search-field border">
        <option value="0" disabled>Categoría</option>
        <option *ngFor="let categoria of categoria; let i = index" value="{{categoria.id}}">{{categoria.nombre}}</option>
    </select>

    <select [(ngModel)]="producto.marca_id" name="marca_id" placeholder="Marca" class="rk-search-field border">
      <option value="0" disabled>Marca</option>
      <option *ngFor="let marca of marca; let i = index" value="{{marca.id}}">{{marca.nombre}}</option>
    </select>
    </div>

    <div class="col-auto mt-2">
      <button type="submit" class="btn btn-primary mb-3 m-r-10">Guardar</button>
      <button type="button"  [routerLink]="['/productos']" class="btn btn-primary mb-3 btn-success">Cancelar</button>


    </div>
  </div>
</form>
