
  <div class="ae-grid au-xs-ta-center au-mb-4">
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/Avatar1.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Moises</h5>
      <p class="ae-u-bolder au-mb-3">Desarrollador FULL STACK</p>
      <a href="#0" class="ae-u-bolder au-underline">@MoisesMartinez</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/Avatar2.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">David Arturo</h5>
      <p class="ae-u-bolder au-mb-3">Desarrollador FULL STACK</p>
      <a href="#0" class="ae-u-bolder au-underline">@David</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/Avatar3.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Abraham </h5>
      <p class="ae-u-bolder au-mb-3">Desarrollador FULL STACK</p>
      <a href="#0" class="ae-u-bolder au-underline">@Abraham</a>
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Acerca de nosotros</h6>
        <p class="au-lh-3">Una pagina dispuesta a brindar la mejor experiencia para escoger regalos y ayudar a dar los mejores detalles a un familiar o amigo.</p>
      </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Misión</h6>
      <p class="au-lh-3">Nuestra misión es brindar la mejor experiencia en el sitio web</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Clientes</h6>
      <p class="au-lh-3">Nuestra expectativa es brindar la mejor atención</p>
      <p class="au-lh-3">Atendemos a cualquier parte del mundo</p>
    </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a routerLink="/regalos" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Vista de los regalos<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
